<h1>To Do List Client Details: </h1>

<h2>@Model["client"].GetClientName()</h2>
<h3>Category: @Model["stylist"].GetStylstName()</h3>

<a href='/Stylist/@Model["stylist"].GetId()/Client/new'>Add another Client</a>
<a href='/Stylist'>View all Stylist</a>

<a href='/Stylist/@Model["stylist"].GetId()/Client/@Model["client"].GetId()/edit'>Edit this Item</a>
