<h1>Add a Stylist</h1>
<p>Add a Stylist here:</p>

<form action="/categories" method="post">
  <label for="StylistName">Category name</label>
  <input id="StylistName" name="StylistName" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/Stylist">Back to stylist list.</a></p>
