<h3>Here are all the Client in this category:</h3>

<ol>
@foreach (var client in @Model["Client"])
{
  <li><a href='/Stylist/@Model["Stylist"].GetId()/Client/@client.GetId()'>@client.GetClientName()</a></li>
}
</ol>

<p><a href='/Stylist/@Model["Stylist"].GetId()/Clients/new'>Add a new client</a></p>
<p><a href='/Stylist'>Return to Stylist list</a></p>
<p><a href='/'>Return to Main Page</a></p>
